header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

table {
    background-color: blanchedalmond;
    width: 100%;
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}

thead {
    background: lightgrey;

}

footer {
    text-align: right;
    font-size: large;
}

